* html div#fl813691 {position: absolute; overflow:hidden; 
top:expression(eval(document.compatMode && 
document.compatMode=='CSS1Compat') ? 
documentElement.scrollTop 
+(documentElement.clientHeight-this.clientHeight) 
: document.body.scrollTop 
+(document.body.clientHeight-this.clientHeight));} 
#fl813691{font: 12px Arial, Helvetica, sans-serif; color:#666; position:fixed; _position: absolute; right:0; bottom:0; height:150px; } 
#eb951855{ width:279px; padding-right:7px; background:url(https://lh4.googleusercontent.com/-WlFxxacCqkE/UVRlSxks1aI/AAAAAAAAFSI/ujnXrBK8V60/s150/rightp-itviet360.gif) no-repeat right top;} 
#cob263512{background:url(https://lh4.googleusercontent.com/-76rBW78GlCY/UXVSIYX3xnI/AAAAAAAAG38/olDCjJ41Zfs/s501/fulld.gif) no-repeat left top; height:150px; padding-left:7px;} 
#coh963846{color:#690;display:block; height:20px; line-height:20px; font-size:11px; width:277px;} 
#coh963846 a{color:#690;text-decoration:none;} 
#coc67178{float:right; padding:0; margin:0; list-style:none; overflow:hidden; height:15px;} 
#coc67178 li{display:inline;} 
#coc67178 li a{background-image:url(https://lh5.googleusercontent.com/-FnW-YtuJMjY/UVRlSuVJ2VI/AAAAAAAAFR8/k7f12to4-zQ/s90/closebutton-itviet360.gif); background-repeat:no-repeat; width:30px; height:0; padding-top:15px; overflow:hidden; float:left;} 
#coc67178 li a.close{background-position: 0 0;} 
#coc67178 li a.close:hover{background-position: 0 -15px;} 
#coc67178 li a.min{background-position: -30px 0;} 
#coc67178 li a.min:hover{background-position: -30px -15px;} 
#coc67178 li a.max{background-position: -60px 0;} 
#coc67178 li a.max:hover{background-position: -60px -15px;} 
#co453569{display:block; margin:0; padding:0; height:123px; border-style:solid; border-width:1px; border-color:#111 #999 #999 #111; line-height:1.6em; overflow:hidden;}